@using NewsFeed.Models
@model System.Collections.Generic.IEnumerable<NewsFeed.Models.Tweet>

@foreach (var tweet in Model)
{
    if (tweet.Entity.Urls.Count > 0)
    {
        <div class="tweet" onclick="location.href = '@tweet.Entity.Urls.First().UrlString';" style="cursor: pointer;">
            <img src="@tweet.User.ProfileImageUrlHttps"> <strong>@tweet.User.Name:</strong> @tweet.Text
            <a href="@tweet.Entity.Urls.First().UrlString">@tweet.Entity.Urls.First().UrlString</a>
        </div>
        <img src="~/images/play.png" class="play" alt="Play" onclick="speak('@tweet.Text.Replace("\"", string.Empty).Replace("\'", string.Empty)')">
        <img src="~/images/pause.png" class="pause" alt="Pause" onclick="pauseSpeaking()">
        <img src="~/images/stop.png" class="stop" alt="Stop" onclick="stopSpeaking()">
    }
    else
    {
        <div class="tweet">
            <img src="@tweet.User.ProfileImageUrlHttps"> <strong>@tweet.User.Name:</strong> @tweet.Text
        </div>
        <img src="~/images/play.png" class="play" alt="Play" onclick="speak('@tweet.Text.Replace("\"", string.Empty).Replace("\'", string.Empty)')">
        <img src="~/images/pause.png" class="pause" alt="Pause" onclick="pauseSpeaking()">
        <img src="~/images/stop.png" class="stop" alt="Stop" onclick="stopSpeaking()">
    }
}

<script type="text/javascript">
    function speak(text) {
        if (window.speechSynthesis.paused) {
            window.speechSynthesis.resume();
        } else if (!window.speechSynthesis.speaking) {
            var msg = new SpeechSynthesisUtterance(text);
            window.speechSynthesis.speak(msg);
        }
    };

    function pauseSpeaking() {
        if (window.speechSynthesis.speaking) {
            window.speechSynthesis.pause();
        }
    };

    function stopSpeaking() {
        if (window.speechSynthesis.speaking) {
            window.speechSynthesis.cancel();
        }
    };
</script>